.about {
	
	.main > .wrapper { overflow: hidden; }
	.col {
		width: 50%;
		float: left;

		&:nth-of-type(odd) { padding-right: 20px; }
		&:nth-of-type(even) { padding-left: 20px; }

		form { float: left; width: 100%; }
	}
}